h2 {
    color: black;
    text-transform: capitalize;
}

#about-us-section{
    margin-top: 50px;
}

.content-container {
    width: 100%;
    padding: 50px;
    margin-bottom: 200px;
}

.about1-image {
    background-image: url(../assets/images/Slide3.jpg);
}
.about2-image {
    background-image: url(../assets/images/Slide2.jpg);
}
.about3-image {
    background-image: url(../assets/images/about3.jpg);
}
.about4-image {
    background-image: url(../assets/images/about4.jpg);
}
.about5-image {
    background-image: url(../assets/images/flour.jpg);
}

.custom-image {
    height: 0;
    padding-bottom: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 40%;
    display: block;
    float: left;
}

.float-content {
    display: block;
    text-align: left;
    float: left;
    width: 60%;
    padding: 20px;
}

@media (min-width:1130) {
    .content-container{
        padding: 150px;
    }
}

@media (max-width:960px) {
    #about-us-section{
        padding: 0;
    }

    .content-container{
        margin-bottom: 10px;
    }
    
    .float-content,
    .custom-image {
        float: none;
        width: 100%;
    }
}