.navbar {
    height: 70px;
}

.bg-navBgColor {
    background-color: rgba(33, 37, 41, 1);
}

.nav-link {
    color: white;
}

.nav-logo {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    position: absolute;
    padding-left: 10px;
    position: absolute;
    padding-left: 100px;
    top: 10px;
}

.navbar-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 85vw;
    /* means 65% of the viewport width*/
    justify-content: end;
    /* It defines the alignment along the main axis. 
                            It helps distribute extra free space leftover when either all the flex items on a line are inflexible, 
                            or are flexible but have reached their maximum size. */
    margin-right: 0.5rem;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 575px) {
    .nav-logo {
        padding: 0;
        left: 15px;
    }

    .menu-icon {
        display: block;
        color: #f9f9fd;
        cursor: pointer;
        position: fixed;
        right: 15px;
        z-index: 999;
        top: 15px;
        border: 0;
        background: none;
        font-size: 24px;
        font-weight: 900;
        transition: all 0.4s;
    }

    .navbar-collapse {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .8);
        height: 100%;
        width: 65%;
        transition: all 0.5s ease;
        /* changed here from 1 to 997 */
        z-index: 997;
        left: -50px;
        overflow: hidden;
        position: fixed;
    }

    .display-overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        z-index: 989;
    }

    .navbar-nav {
        margin-top: 50px;
        margin-left: 80px;
        text-align: left;
        transition: all 0.5s ease;
    }

}